[submodule "oskr1087/l10n_ec"]
	path = oskr1087/l10n_ec
	url = git@github.com:oskr1087/l10n_ec.git
	branch = 12.0

[submodule "oskr1087/insurance-brokers"]
	path = oskr1087/insurance-brokers
	url = git@github.com:oskr1087/insurance-brokers.git
	branch = 12.0

[submodule "OCA/connector-telephony"]
	path = OCA/connector-telephony
	url = git@github.com:OCA/connector-telephony.git
	branch = 12.0
